aiofiles
langid
beautifulsoup4
cachetools
colorama
cutlet
EbookLib
einops
ffmpeg
fsspec
hangul_romanize
huggingface_hub
ipython
librosa
networkx
num2words
opencc
packaging
pyloudnorm
pytest
pypinyin
safetensors
sounddevice
soundfile
spacy==3.7.5
setuptools
safetensors
torchaudio
tokenizers
transformers<5.0.0
vllm==0.6.4.post1
nvidia-ml-py
numpy
